blockquote {
  font-size: 1.1rem;
  width: 100%;
  font-family: $font-family-base;
  font-style: italic;
  color: #555555;
  padding: 1.2rem 30px 1.2rem 35px;
  border-left: 8px solid $blue;
  line-height: 1.4;
  position: relative;
  background: #ededed;
}

@media (min-width: 992px) {
  blockquote {
    width: 100%;
  }
}

blockquote:after {
  content: "";
}
