// Just .btn
.btn {
  border-radius: $border-radius;
}

.btn,
button {
  font-weight: 500;
  // text-transform: uppercase;
  letter-spacing: 1px;
  line-height: $line-height;
  // box-shadow: $box-shadow;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);

  &:hover {
    cursor: pointer;
    // box-shadow: $heavy-box-shadow;
  }

  &:focus {
    outline: 1px dotted !important; /* stylelint-disable-line declaration-no-important */
    outline: 5px auto -webkit-focus-ring-color !important; /* stylelint-disable-line declaration-no-important */
  }
}

// Adjust global dropdown
.dropdown-menu li a {
  color: color(font-color);
  font-size: 18px;
}

// Adjust global list-group buttons
.list-group {
  .btn,
  button {
    box-shadow: none;
    font-weight: 400;
    text-shadow: none;

    &:hover {
      box-shadow: none;
    }
  }
}

.btn-link {
  box-shadow: none;
  color: color(grey-700);
  text-shadow: none;

  &:hover,
  &:active,
  &:focus {
    box-shadow: none;
    color: color(grey-600);
    text-decoration: none;
  }
}
