.input-wrapper {
  margin-bottom: 20px;

  &--no-margin-bottom {
    margin-bottom: 0;
  }

  &--no-margin-bottom-desktop {
    margin-bottom: 20px;

    @media (min-width: 992px) {
      margin-bottom: 0;
    }
  }

  input:not([type="radio"]):not([type="checkbox"]),
  select {
    height: auto;
    font-size: 16px;
    line-height: normal;
    padding: 18px 12px;
  }

  select {
    height: 58px;
  }

  // select height needs to be auto for FF
  @-moz-document url-prefix() {
    select {
      height: auto;
    }
  }

  textarea {
    min-height: 100px;
    width: 100%;
  }

  input,
  select,
  textarea {
    box-shadow: $inset-shadow;
  }

  input::placeholder,
  textarea::placeholder {
    color: $gray-700;
  }

  &__label {
    color: $black;
    font-weight: 500;

    &--white {
      color: $white;
    }
  }

  &__error-message {
    margin-top: 10px;
    color: $red-700;

    &--white {
      color: $white;
    }
  }
}

.form-control {
  border: $border;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: $gray-300;
}

// Repeating these for now for
// non input-wrapper inputs
input:not([type="radio"]):not([type="checkbox"]),
select {
  height: auto;
  font-size: 16px;
  line-height: normal;
  padding: 18px 12px;
}

select {
  height: 58px;
}

// select height needs to be auto for FF
@-moz-document url-prefix() {
  select {
    height: auto;
  }
}

textarea {
  min-height: 100px;
  width: 100%;
}

input,
select,
textarea {
  box-shadow: $inset-shadow;
}

input::placeholder,
textarea::placeholder {
  color: $gray-700;
}

.label,
label {
  color: $black;
  font-weight: 500;
}

.form-check {
  position: relative;
  display: block;
  padding-left: 1.25rem;

  .form-check-input {
    margin-top: 0.4rem;
    margin-right: 20px;
  }

  .form-check-label {
    margin-left: 4px;
  }
}
