@font-face {
  font-family: "Quicksand";
  src: url("~@/assets/fonts/Quicksand/Quicksand-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Quicksand";
  src: url("~@/assets/fonts/Quicksand/Quicksand-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Quicksand";
  src: url("~@/assets/fonts/Quicksand/Quicksand-SemiBold.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Quicksand";
  src: url("~@/assets/fonts/Quicksand/Quicksand-Bold.ttf");
  font-weight: 700;
}
