hr {
  border-color: rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
  margin-top: 20px;
}

.hr-large {
  border-color: rgba(0, 0, 0, 0.15);
  margin-bottom: 60px;
  margin-top: 60px;
}

.hr-dashed {
  border-color: rgba(0, 0, 0, 0.1);
  border-style: dashed;
  border-width: 2px;
  margin-bottom: 30px;
  margin-top: 30px;
}
