section.user-action {
  padding: 35px 0 55px;
}

.user-block {
  background: $blue;
  border-radius: 8px;
  margin: 0 auto;
  max-width: 100%;
  padding: 25px;

  @media (min-width: 992px) {
    max-width: 500px;
  }

  &__header {
    color: $white;
  }

  &__content {
    color: $white;

    label {
      color: $white;
    }
  }

  a {
    color: $white;
    text-decoration: underline;

    &:hover {
      color: darken($white, 10%);
    }
  }
}