// Colors

$black: "#000000";
$white: "#ffffff";

$blue: "#135edb";
$indigo: "#3F00FF";
$purple: "#800080";
$pink: "#ffc0cb";
$red: "#fb1505";
$orange: "#FF7F00";
$yellow: "‎#FFFF00";
$green: "#16ca43";

$gray100: "#f8f9fa";
$gray200: "#e9ecef";
$gray300: "#dee2e6";
$gray400: "#ced4da";
$gray500: "#adb5bd";
$gray600: "#6c757d";
$gray700: "#495057";
$gray800: "#343a40";
$gray900: "#212529";

// Palettes built with https://noeldelgado.github.io/shadowlord

$blue100: "#e3ecfb";
$blue200: "#afc8f3";
$blue300: "#7ba5eb";
$blue400: "#4781e3";
$blue500: "#135edb"; // blue
$blue600: "#0f49ab";
$blue700: "#0b357b";
$blue800: "#06204a";
$blue900: "#020b1a";

$indigo100: "#e8e0ff";
$indigo200: "#bea8ff";
$indigo300: "#9370ff";
$indigo400: "#6938ff";
$indigo500: "#3F00FF"; // indigo
$indigo600: "#3100c7";
$indigo700: "#23008f";
$indigo800: "#150057";
$indigo900: "#08001f";

$purple100: "#f0e0f0";
$purple200: "#d4a8d4";
$purple300: "#b870b8";
$purple400: "#9c389c";
$purple500: "#800080"; // purple
$purple600: "#640064";
$purple700: "#480048";
$purple800: "#2c002c";
$purple900: "#0f000f";

$pink100: "#fff7f9";
$pink200: "#ffeaed";
$pink300: "#ffdce2";
$pink400: "#ffced6";
$pink500: "#ffc0cb"; // pink
$pink600: "#c7969e";
$pink700: "#8f6c72";
$pink800: "#574145";
$pink900: "#1f1718";

$red100: "#ffe3e1";
$red200: "#feafaa";
$red300: "#fd7c73";
$red400: "#fc483c";
$red500: "#fb1505"; // red
$red600: "#c41004";
$red700: "#8d0c03";
$red800: "#550702";
$red900: "#1e0301";

$orange100: "#fff0e0";
$orange200: "#ffd3a8";
$orange300: "#ffb770";
$orange400: "#ff9b38";
$orange500: "#FF7F00"; // orange
$orange600: "#c76300";
$orange700: "#8f4700";
$orange800: "#572b00";
$orange900: "#1f0f00";

$yellow100: "#ffffe0";
$yellow200: "#ffffa8";
$yellow300: "#ffff70";
$yellow400: "#ffff38";
$yellow500: "#FFFF00"; // yellow
$yellow600: "#c7c700";
$yellow700: "#8f8f00";
$yellow800: "#575700";
$yellow900: "#1f1f00";

$green100: "#e3f9e8";
$green200: "#b0edbf";
$green300: "#7de196";
$green400: "#49d66c";
$green500: "#16ca43"; // green
$green600: "#119e34";
$green700: "#0c7126";
$green800: "#074517";
$green900: "#031808";
