.fa-sticky-note {
    color: yellow;
}

.navbar-section {
    background-color: #488ED8;
}

.navbar-section .container-nav {
    padding-left: 0;
    padding-right: 90;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}