// Keep navbar-buttons properly inline
.navbar-button {
  line-height: 29px;
}

:global(.navbar-toggler) {
  border: none;
  box-shadow: none;

  &:hover {
    box-shadow: none;
    opacity: 0.9;
  }
}

// :global {
//   // .main-navbar-navigation {
//   .navbar {
//     .main-navbar-navigation {
//       button {
//         /* stylelint-disable-next-line declaration-no-important */
//         display: none !important;
//       }
//     }
//   }
// }
